<!DOCTYPE html>
<html lang="en">
<head>
       <title>Document</title>
</head>
<body>
    <h1>Upload your video bitchass</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*">
        <button type="submit">Upload</button>
    </form>
    
    {% if captions %}
        <h2>Results:</h2>

        {%for frame, text in captions %}
        <div>
            <img src="{{ url_for('static', filename='frames/' + frame) }}"
            <p>{{ text }}</p>
        </div>
        {% endfor %}
    {% endif %}

</body>
</html>